<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <h2></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 display-flex-center">
            <span class="pull-left">
              <img
                src=""
                alt=""
                class="img-responsive"
                style="max-height: 100px"
              />
            </span>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p><strong>Email:</strong></p>
        <p><strong>Phone:</strong></p>
      </div>
    </div>
  </div>
</div>
